$slide-width: 30%;
$slide-skew: -15deg;
$end-point: 667%;
$animation-time: .7s;

:root{
  --button-color: black;
}

.button {
  position: relative;
  overflow: hidden;
  outline: none;

  background: none;
  color: var(--button-color);
  border: 2px solid var(--button-color);

  font-size: var(--font-size);
  border-radius: .5em;
  padding: .2em .5em;
  transition: $animation-time;

  &:before {
    content: '';
    display: block;
    width: $slide-width;
    height: 100%;

    background-color: var(--button-color);

    transform: skewX($slide-skew);
    filter: blur(.5em);
    opacity: .5;

    position: absolute;
    top: 0;
    left: -$slide-width;

    transition: transform $animation-time ease-in-out;
  }

  &:hover:before {
    transform: skewX($slide-skew) translateX($end-point);
  }

  &:hover{
    cursor: pointer;
  }

  // * color button type
  &#{&}--blue:hover {
    background-color: #2286d6;
  }

  &#{&}--green:hover {
    background-color: #2bae2b;
  }

}
