:root{
  --todo-form-background: white;
}

.todo-form{
  background-color: var(--todo-form-background);
  padding: .5em;

  > *+* {
    margin-top: .2em;
  }

  // * Field container
  &__input-section{

  }

  &__field{
    padding: .25em;
    margin: .25em;
    transition: box-shadow .35s;

    &:hover {
      box-shadow: 0 0 .4em 0 rgba(0,0,0,0.75);
    }
  }
}